@model ProductPage
@{
    ViewData["Title"] = Model.Product.Name;
}
<div class="grid-x align-center">
    <div class="cell shrink text-center">
        <h1 class="h3">@Model.Product.Name</h1>
        <p class="h5 subheader">$@Model.Product.Price</p>
        <p class="lead">@Model.Product.Description</p>
    </div>
</div>
<div class="grid-x align-center margin-vertical-3">
    <div class="cell medium-6 text-center">
        <h1 class="h4">Existing Categories</h1>
        @if(Model.Product.AllCategories.Count > 0)
        {
            <ul class="no-bullet">
            @foreach(var cat in Model.Product.AllCategories)
            {
                <li><a asp-action="ViewCategory" asp-controller="Category" asp-route-id="@cat.CategoryId">@cat.Category.Name</a></li>
            }
            </ul>
        }
        else
        {
            <h2 class="h5">@Model.Product.Name not tagged to any categories</h2>
        }
    </div>
    <div class="cell medium-6 text-center">
    @if(Model.Categories.Count > 0)
    {
        <form asp-action="AddTag" asp-controller="Product">
            <input type="hidden" asp-for="Tag.ProductId" value="@Model.Product.ProductId">
            <div class="input-group">
                <label class="input-group-label" asp-for="Tag.CategoryId"></label>
                    <select asp-for="Tag.CategoryId" class="input-group-field">
                        <option selected disabled value="0">Select a Category</option>
                        @foreach(Category cat in Model.Categories)
                        {
                            <option value="@cat.CategoryId">@cat.Name</option>
                        }
                    </select>
            </div>
            <p class="help-text"><span asp-validation-for="Tag.CategoryId"></span></p>
            <input type="submit" class="button success" value="Add Product">
        </form>
    }
    else
    {
        <h2 class="h4">Better add some categories!</h2>
    }
    </div>
</div>
