@{
    ViewData["Title"] = "New Dish";
}
@if (ViewBag.AllChefs == null)
{
    <div class="grid-x align-center">
        <h1 class="h4">No chefs in Database add a Chef First!</h1>
    </div>
}
else
{
    @model Dish

    <form asp-action="AddDish" asp-controller="Dish" method="post">
        <div class="grid-x align-justify">

            <div class="cell medium-3">
                <label asp-for="ChefId"></label>
                <select asp-for="ChefId">
                    <option selected disabled>Choose a Chef</option>
                    @foreach (Chef chef in ViewBag.AllChefs)
                    {
                        <option value="@chef.ChefId">@chef.FirstName @chef.LastName</option>
                    }
                </select>
                <span class="help-text alert" asp-validation-for="ChefId"></span>

                <label asp-for="Name"></label>
                <input asp-for="Name">
                <span class="help-text alert" asp-validation-for="Name"></span>

                <label asp-for="Calories"></label>
                <input asp-for="Calories">
                <span class="help-text alert" asp-validation-for="Calories"></span>

            </div>

            <div class="cell medium-3">
                <label asp-for="Tastiness"></label>
                <select asp-for="Tastiness">
                    @for (int i = 1; i < 6; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                <span class="help-text alert" asp-validation-for="Tastiness"></span>
            </div>

            <div class="cell medium-3">
                <label asp-for="Description"></label>
                <textarea asp-for="Description"></textarea>
                <span class="help-text alert" asp-validation-for="Description"></span>
                <div class="grid-x margin-top-3">
                    <div class="cell text-right">
                        <input class="button alert" type="submit" value="Add Dish">
                    </div>
                </div>
            </div>
        </div>
    </form>
}
